::ng-deep .p-dropdown,
::ng-deep .p-inputtext {
    width: 100% !important;
    height: 1.7em;
    border-radius: 3px;
}

::ng-deep .p-dropdown .p-dropdown-label {
    margin-top: -0.6em;
    font-size: 14px;
    height: 2.2em;
}

::ng-deep .p-inputtext {
    font-size: 13px;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    font-size: 13px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
    padding: 0.5em;
    font-size: 13px;
    border: 1px solid #cecece;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5em;
    font-size: 12px;
}

::ng-deep .p-paginator .p-dropdown {
    height: 2em;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    font-size: 13px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}