@import "./variables";

.p-component {
  font-family: var(--fontFamily) !important;
}
.p-tieredmenu {
  background: transparent !important;
  border: none !important;
  color: var(--textColor) !important;
  padding: 0 !important;
  .p-menu-separator {
    border-top: 2px solid var(--hoverMenu) !important;
  }
  ul {
    font-weight: 300 !important;
    font-size: .9rem !important;
  }
  .p-submenu-list {
    background: var(--primaryColor) !important;
  }
  .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background: var(--primaryColor) !important;
    color: var(--textColor) !important;
    .p-menuitem-text {
      color: var(--textColor) !important;
    }
    .p-submenu-icon {
      color: var(--textColor) !important;
    }
  }
  .p-menuitem-link {
    padding: .75rem .3rem !important;
    color: var(--textColor) !important;
    border-radius: .25rem !important;
    * {
      transition: .3s all;
    }
    .p-menuitem-icon {
      color: var(--textColor) !important;
    }
    &:not(.p-disabled):hover {
      background: var(--hoverMenu) !important;

      .p-menuitem-text {
        color: var(--textColor) !important;
      }
      .p-submenu-icon {
        color: var(--textColor) !important;
      }
    }
    .p-menuitem-text {
      color: var(--textColor) !important;
    }
    .p-submenu-icon {
      color: var(--textColor) !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}

.p-breadcrumb {
  font-size: 1rem !important;
  ul li .p-menuitem-link .p-menuitem-icon,
  ul li:last-child .p-menuitem-text,
  ul li .p-menuitem-text {
    color: var(--textColorDark) !important;
  }
}


body.dark-theme {
  .p-panel {
    .p-panel-header {
      border: 1px solid var(--hoverMenu);
      background: var(--darkColor);
      color: var(--textColor);
    }

    .p-panel-content {
      border: 1px solid var(--hoverMenu);
      background: var(--darkColor);
      color: var(--textColor);
    }
  }
}
