<div class="app-produto">
  <div class="search-container">
    <div class="flex justify-content-center container-input">
      <form [formGroup]="formSearchProduto">
        <div class="grid">
          <div class="flex flex-column col-12 md:col-12 lg:col-2">
            <label for="descricao" class="label-description">Descrição:</label>
            <input type="text" id="descricao" formControlName="descricao" pInputText />
          </div>
          <div class="flex flex-column col-12 md:col-12 lg:col-2">
            <label for="categoria" class="label-description">Categoria:</label>
            <p-dropdown [options]="categoriaList" id="categoria" placeholder="Selecione" formControlName="categoria"
              optionValue="id" class="w-full" optionLabel="descricao"></p-dropdown>
          </div>
          <div class="flex flex-column col-12 md:col-12 lg:col-2">
            <label for="cor" class="label-description">Cor:</label>
            <p-dropdown [options]="corList" id="cor" class="w-full" formControlName="cor" placeholder="Selecione"
              optionLabel="value" optionValue="value"></p-dropdown>
          </div>
          <div class="flex flex-column col-12 md:col-12 lg:col-2">
            <label for="cor" class="label-description">Tamanho:</label>
            <p-dropdown [options]="tamanhoList" id="cor" class="w-full" formControlName="tamanho"
              placeholder="Selecione" optionLabel="value" optionValue="value"></p-dropdown>
          </div>
          <div class="flex flex-row justify-content-space-between col-12 md:col-12 lg:col-4 mt-2">
            <div class="flex align-items-center mr-2 mt-2">
              <p-radioButton name="sexo" value="Masculino" formControlName="sexo" inputId="Masculino"></p-radioButton>
              <label for="Masculino" class="label-description ml-2">Masculino</label>
            </div>
            <div class="flex align-items-center mr-3 mt-2">
              <p-radioButton name="sexo" value="Feminino" formControlName="sexo" inputId="Masculino"></p-radioButton>
              <label for="Masculino" class="label-description ml-2">Feminino</label>
            </div>
            <div class="flex justify-content-around w-full button-container mt-2">
              <p-button icon="pi pi-search" styleClass="p-button-rounded p-button-help"
                (onClick)="getAllProductWithFilter()"></p-button>
              <p-button icon="pi pi-eraser" styleClass="p-button-rounded p-button-help"
                (onClick)="clearImput()"></p-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="flex justify-content-center table-container mt-4">
    <p-table [value]="produtoList" [tableStyle]="{ 'width': '65rem' }" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5%; text-align: center;">Código</th>
          <th style="width: 30%; text-align: center">Produto</th>
          <th style="text-align: center; width: 12%">Categoria</th>
          <th style="width: 10%; text-align: center">Cor</th>
          <th style="width: 11%; text-align: center">Preço</th>
          <th style="width: 10%; text-align: center">Tamanho</th>
          <th style="width: 10%; text-align: center">Sexo</th>
          <th style="width: 12%; text-align: center">Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto>
        <tr>
          <td style="text-align: center;">{{ produto.id }}</td>
          <td>{{ produto.descricao }}</td>
          <td style="text-align: center;">{{ produto.categoria.descricao }}</td>
          <td style="text-align: center;">{{ produto.cor }}</td>
          <td style="text-align: center;">R$ {{ produto.preco }}</td>
          <td style="text-align: center;">{{ produto.tamanho }}</td>
          <td style="text-align: center;">{{ produto.sexo }}</td>
          <td>
            <div class="flex justify-content-between w-full button-option">
              <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-help" routerLink="view-location"
                routerLink="produto/{{produto.id}}"></p-button>
              <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-warning"
                routerLink="view-location"></p-button>
              <p-button icon="pi pi-trash" styleClass="p-button-rounded" (onClick)="confirm(produto.id)"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="paginator">
    <p-paginator (onPageChange)="getAllProductWithFilter($event)" [first]="paginationFirstValue"
      [totalRecords]="totalElements" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" #pp></p-paginator>
  </div>
</div>
<p-toast></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>