* {
    color: black;
}

.app-produto {

    .search-container {

        .container-input {

            .label-description {
                font-size: 13px;
                margin-bottom: 0.3em;
            }

            .button-container {
                ::ng-deep .p-button {
                    width: 30px;
                    height: 30px;
                }
            }

        }
    }

    .table-container {
        width: 100%;

        .button-option {

            ::ng-deep .p-button {
                width: 30px;
                height: 30px;
            }
        }
    }
}